
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* background-color:rgba(231, 240, 255, 0.7); */

/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

.filtermain-container{
  overflow: hidden;
  height: 100vh;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  margin-top:100px;
  background-color:rgba(231, 240, 255, 0.7);
  overflow-y: hidden; /* 위와 아래 스크롤 숨기기 */
}

.filter-text {
  text-align: center;
}

.text-main {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
  margin-top: 0px;
}

.text-user {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-ex {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.filter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.glassButton {
  background: #353535;
  padding: 20px 35px;
  width : 100px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button-start {
  text-decoration: none;
  color: #fff;
  font-size: 43px;
  font-weight: bold;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup-content button {
  background: #27ae60;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.popup-content button:hover {
  background: #1e8449;
}
/*이미지*/
.map {
  width: 500px;
}
