@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.banner-text {
  position: absolute;
  top: 250px;
  left: 180px;
  z-index: 1; /* 이미지 위에 텍스트가 보이도록 설정 */
  color: white;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
  }

.banner-text2{
  position: absolute;
  top: 330px;
  left: 180px;
  z-index: 1; /* 이미지 위에 텍스트가 보이도록 설정 */
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 2px;
}

.left-icon {
  position: absolute;
  top: 320px;
  left: 1%;
  transform: translateY(-50%);
  color : white;
  background-color: #3a3a3a84;
  border-radius: 5px;
}

.right-icon {
  position: absolute;
  top: 320px;
  right: 1%;
  transform: translateY(-50%);
  color : white;
  background-color: #3a3a3a5c;
  border-radius: 5px;
}


.func-container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
  margin-top: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  position: relative; /* Ensure relative positioning for absolute child elements */
}

.func1, .func2, .func3, .func4 {
  background-color: #ffffff;
  width: 250px;
  height: 200px;
  margin-bottom: 15px;
  padding: 25px;
  font-size: 25px;
  color: #191919;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: 'JalnanGothic';
  transition: transform 0.2s ease;
  position: relative; /* Ensure relative positioning for absolute child elements */
}

.moveto {
  position: absolute;
  bottom: 10px;
  right: 25px;
  font-size: 45px;
  color: #191919;
  transition: transform 0.2s ease;
  text-decoration: none;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px); /* Adjust the amount of movement as desired */
  }
  100% {
    transform: translateX(0);
  }
}

.moveto svg {
  transition: transform 0.2s ease; /* Ensure smooth transition for transform */
}

.func1:hover .moveto svg,
.func2:hover .moveto svg,
.func3:hover .moveto svg,
.func4:hover .moveto svg {
  animation: moveArrow 0.7s linear infinite; /* Apply moveArrow animation on .moveto svg within .func1 hover */
}

.func1:hover .moveto,
.func2:hover .moveto,
.func3:hover .moveto,
.func4:hover .moveto {
  color: rgb(255, 122, 122); /* Change color on .moveto within .func1 hover */
}

.func1:hover,
.func2:hover,
.func3:hover,
.func4:hover {
  transform: translateY(-10px); /* Example transform on .func1, .func2, .func3, .func4 hover */
  color: rgb(255, 122, 122); /* Change color on .func1, .func2, .func3, .func4 hover */
}



.detail {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e7e;
  font-family: 'Noto Sans KR', sans-serif;
}


@keyframes slideAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.Img {
  animation: slideAnimation 0.7s ease-in-out;
  width: 100%;
  height: auto;
}
