@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  height: 700px; /* 컨테이너의 높이를 고정합니다 */
  font-family: 'Noto Sans KR', sans-serif;
}

.matepost-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 30px;
  height: 100%; /* 내용이 컨테이너를 벗어날 경우에도 전체 높이를 유지합니다 */
}

.matepost-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left : 5px;
}

.matepost-info {
  margin-bottom: 5px;
  margin-left : 10px;
}

.content-box {
  border: 1px solid #aaaaaa;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px 15px;
  overflow-y: auto; /* 내용이 박스를 벗어날 경우 스크롤바를 표시합니다 */
  height: calc(100% - 100px); /* 내용 박스의 높이를 조정 */
}

.matepost-content {
  margin-top: 10px;
  font-size: 15px;
}

.error {
  color: red;
}

.not-found {
  color: gray;
}

.comment-header{
  font-size: 23px;
  color : #2c2c2c;
  font-weight: 600;
  margin: 30px 0px 10px 5px;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 2px;
}


.comment-section {
  margin-top : 5px;
  padding: 10px;
  background-color : #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  height : 30%;
  display: block;
}



.comment-section form {
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.comment-section textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  border-radius: 10px;
  height: 50px;
  resize:none;
  font-family: 'Noto Sans KR', sans-serif;
}

.comment-section button {
  padding: 10px 10px;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.comments {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.comments div {
  margin-bottom: 10px;
}