@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.route-filter-banner {
    position: relative;
    text-align: center;
    color: white;
}

.route-filter-banner img {
    width: 100%;
    height: 50vh; /* 이미지 비율을 유지하면서 높이를 자동 조정 */
}

.route-filter-main-title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.search-box {
    background: white;
    padding: 20px;
    width: 35%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute; /* absolute로 설정하여 배너와 겹치도록 */
    top: 65%; /* 값을 줄여서 검색 박스를 더 위로 올림 */
    left: 50%; /* 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 정확한 중앙 위치 */
    z-index: 10; /* 배너 위에 오도록 설정 */
}

.search-box-header {
    text-align: center;
    margin-bottom: 20px;
}

.search-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}

.divider {
    width: 50%; /* 줄의 너비를 조정 */
    margin: 0 auto; /* 줄을 가운데 정렬 */
    border: 0;
    border-top: 2px solid rgba(163, 163, 163, 0.6);; /* 줄의 색상과 두께 */
    margin-bottom: 60px; /* 줄 아래의 여백 */
}

.search-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* 모든 필터 그룹을 중앙 정렬 */
}

.filter-group {
    display: flex;
    align-items: center; /* 레이블과 버튼 그룹이 가로로 정렬되도록 */
    justify-content: center; /* 그룹을 중앙으로 정렬 */
    margin-bottom: 15px;
    width: 100%; /* 필터 그룹이 전체 너비를 사용 */
    max-width: 500px; /* 최대 너비 설정 */
}

.filter-group label {
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 35px;
    font-size: 22px;
    color: black;
}

.button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center; /* 버튼 그룹을 중앙으로 정렬 */
    
}

.button-group button {
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

.button-group button.selected {
    border: 2px solid rgb(63, 63, 63);
    /* border-color: #007bff; */
    /* background-color: #007bff; */
    color: black;
}

.search-button {
    padding: 15px 50px;
    background-color: rgb(63, 63, 63);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 10px;
}

.search-button:hover {
    background-color: rgb(101, 101, 101);
}
