@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

/* 전체 페이지 스타일 */
/* 전체 페이지 스타일 */
.mypage {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 25px;
  }

/* 사이드바 스타일 */
.sidebar {
  width: 250px;
  margin-top: 20px; /* 사이드바 상단 여백 */
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  padding: 0 8px;
  font-size: 22px;  
  margin-bottom: 30px;
  font-weight: 700;
}

.sidebar-header {
  color: #333;
  text-decoration: none;
  padding: 10px 8px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-header.active {
  background-color: #e0e0e0;
  color: #000;
  font-weight: 700;
}

/* 콘텐츠 영역 스타일 */
.content {
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
}