
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .login-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #7b7b7b;
    border-radius: 8px;
  }
  
  .styled-input {
    width: calc(100% - 16px);
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(152, 152, 152); /* 기본 테두리 색상은 검은색으로 설정 */
    margin-top: 5px;
  }
  
  .styled-input.error {
    border-color: red; /* 오류가 발생하면 테두리 색상을 빨간색으로 변경 */
    margin-bottom: 5px;
}
  
  .styled-label {
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .styled-error {
    color: red;
    font-size: 13px;
  }
  
  .login-styled-button-container {
    width: 100%;
    text-align: center;
    margin-top:30px;
  }
  
  .login-styled-button {
    padding: 8px 10px;
    width: 150px; /*버튼 가로 크기 조절*/
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 30px;
    border-radius: 5px;
  }

  .login-styled-button:hover {
    background-color:rgb(56, 55, 55);
    
  }
  
  .title {
    font-size: 45px;
    font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #2c2c2c;
  font-style: normal;
    /* font-weight: 900; */
    letter-spacing: 3px; 
    margin-bottom: 15px;
    margin-top:50px;
  }
  
  .hr-login {
    transform: rotate(0deg);
  width: 88px; /* 가로 길이를 조절합니다. */
  height: 4px; /* 세로 길이를 조절합니다. */
  border: none; /* 기본 테두리를 제거합니다. */
   /* 가로 선의 두께와 색상을 설정합니다. */
  margin-left: auto; /* 좌측 여백을 설정합니다. */
 margin-top: 0px;
 margin-bottom: 40px;
 background-color: rgba(163, 163, 163, 0.6);
 align-self: center;
  }