@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* .notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} */

.draggable-container {
  position: fixed;
  bottom: 100px;
  right: 20px;
}

.custom-chatbot {
  font-family: 'Noto Sans KR', sans-serif;
}

  /* 챗봇 메시지 스타일 */
  .custom-chatbot .rsc-ts-bubble {
    background-color: #343434; /* 배경 색상 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    font-family: 'Noto Sans KR', sans-serif;
  }

  .custom-chatbot .rsc-os-option-element {
    background-color: #343434; /* 옵션 버튼 배경 색상 설정 */
    color: #fff; /* 옵션 버튼 텍스트 색상 설정 */
  }

  .custom-chatbot .rsc-header {
    cursor: move; /* Make the header a draggable handle */
    background-color: #343434; /* 상단 배너 배경 색상 설정 */
    color: #fff; /* 상단 배너 텍스트 색상 설정 */
    font-family: 'Noto Sans KR', sans-serif;
  }

  .message {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  